<h2> <%= link_to "Projects", projects_path %> </h2>
<table class="table table-condensed table-striped">
  <th>
    <td class="text-center">Task #1</td>
    <td class="text-center">Task #2</td>
    <td class="text-center">Task #3</td>
    <td class="text-center">Task #4</td>
    <td class="text-center">Refactoring</td>
  </th>
  <% @users.each do |u| %>
    <tr>
      <td>
        <%= link_to u.name, statistics_user_path(u) %>
      </td>
      <% u.exercises.each.with_index  do |e, i| %>
        <td class="success text-center" child-tags="<%= u.exercises[i].name %>"
          <a href=
          <%= "https://github.com/#{u.name}/#{u.repo}/releases/#{e.name}" %>>
           <%= e.name %>
           <%= ((e.end_date - e.start_date)/3600).round(2) %> ч.
         </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
