<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = "container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ActivityTracker</a>
        </div>
        <%= link_to "Add user", new_user_path, class: "btn btn-default add-user"%>
        <%= link_to "Update repositories", update_repositories_users_path, class: "btn btn-default update-repos-btn", method: :post %>
      </div>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
